/*----------------------------Variables----------------------------*/


/*$h1: 10em bolder;
$h2: 5em 900;
$h3: 4em 600;
$h4: 1.5em 300;

/*----------------------------Extend----------------------------*/
.brownies-alfajores {
    background-color: #772323;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

        img {
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
            }
        }            
}

.cakes {
    @extend .brownies-alfajores; 

               img {
                transition: transform 1s;
                &:hover {
                    transform: scale(1.1);
                }
            }
            
}
