/*----------------------------Extend----------------------------*/
.brownies-alfajores {
    background-color: #772323;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

        img {
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
            }
        }            
}

.cookies {
    @extend .brownies-alfajores;
    grid-template-rows: 1fr;
}

.cakes {
    @extend .brownies-alfajores;      
}
