/*----------------------------Map - Map-get----------------------------*/


$headings: (
    h1: 10em,
    h2: 5em,
    h3: 4em,
    h4: 1.5em
);

$h1: map-get($headings, h1);

h1 {
    font-size: $h1;
    font-weight: bolder;
}

$h2: map-get($headings, h2);

h2 {
    font-size: $h2;
    font-weight: 900;
}

$h3: map-get($headings, h3);

h3 {
    font-size: $h3;
    font-weight: 600;
}

$h4: map-get($headings, h4);

h4 {
    font-size: $h4;
    font-weight: 300;
}

/*----------------------------Extend----------------------------*/
.brownies-alfajores {
    background-color: #772323;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

        img {
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
            }
        }            
}

.cakes {
    @extend .brownies-alfajores;
}
