@import "navbar";
@import "map";
@import "piedepagina";
@import "footer";

/*----------------------------Home----------------------------*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: {
        image: url(../fondo-website1.jpg);
        attachment: fixed;
        position: bottom;
        repeat: no-repeat;
        size: cover;
    }
    height: 500px;
    width: 100%;

        h1 {
            color: white;
            letter-spacing: 10px;
            font-family: 'Patrick Hand', cursive;
        }
}

.section__main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #772323;
    margin-top: 30px;
    
    .section__imagenes {
        padding: 0px 130px;
        box-sizing: border-box;
        border: #772323;
        border-radius: 25%;
        overflow: hidden;
        transform: translatey(0px);
        animation: float 1.5s ease-in-out infinite;
        img { width: 100%; height: auto; }    
        background-color: #52131c;
        margin-right: 140px;    
        
        h2 {
            width: 100%;
            color: #ecd9c6;
            font: {
                    style: italic;
                    family: 'Patrick Hand', cursive;
                    size: 120px;
                }
            letter-spacing: 2px;
            text-align: center;
            }
        }

    @keyframes float {
        0% {
            transform: translatey(0px);
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        }
        50% {
            transform: translatey(-20px);
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
        }
        100% {
            transform: translatey(0px);
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        }
    }
    
    .carousel-inner {
        width: 515px;
    }
}

.descripcion {
    background-color: #aa806f;
    margin: 40px 35px;
    &:hover {
        background-color: #772323;
        -webkit-transition: background-color 1s linear;
        transition: background-color 1.5s linear;    
    }
        h1 {
            font: { 
                size: 100px;
                family: 'Patrick Hand', cursive;
            }
            text-align: center;
            letter-spacing: 10px;
            color: #fdd086;
            margin: 2%;
        }

        h3 {
            font-family: 'Patrick Hand', cursive;
            text-align: center;
            letter-spacing: 5px;
            color: #ffe6e6;
        }

        p {
            font: {
                size: 35px;
                weight: 400;
                family: 'Patrick Hand', cursive;
            }
            text-align: justify;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #ffe6e6;
            text-indent: 40px;
            margin: 0% 5% 5%;
        }
}

.contacto {
    display: flex;
    justify-content: center;
    background-color: #3f3f3f;
    color: #ecd9c6;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    letter-spacing: 5px;

        .redes {
            display: flex;
            justify-content: space-around;
        }
        
        ul {
            list-style: none;
            align-items: center;
            padding: 20px;
        
            li {
                a {
                    font-size: 3rem;
                    text-decoration: none;
                    color: #ecd9c6;
                }
            }
        }
}

/*----------------------------Nosotros----------------------------*/
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 750px 1fr;
    justify-items: center;
    padding: 3%;
    margin: 2%;
    background-color: #f7f1e9;
    gap: 20px;

          .main__1 {
            grid-column: 1/3;
            grid-row: 1/2;
            background-color: #772323;
            text-align: center;
            width: 60%;
            padding: 40px;

            h3 {
                font-family: 'Patrick Hand', cursive;
                letter-spacing: 2px;
                color: #ecd9c6;            
            }

            p {
                font-size: 30px;
                text: {
                    indent: 30px;
                    align: justify;
                }
                font: {
                    family: 'Patrick Hand', cursive;
                    weight: lighter;
                }
                letter-spacing: 2px;
                color: #ecd9c6;  
            }
        }

          .main__2 {
            grid-column: 1/3;
            grid-row: 2/3;
            text-align: center;
            width: 60%;
            background-color: #caada1;
            padding: 40px;

            h3 {
                font-family: 'Patrick Hand', cursive;
                letter-spacing: 2px;
                color: #772323;
            }

            p {
                text: {
                    indent: 30px;
                    align: justify;
                }
                font: {
                    size: 30px;
                    family: 'Patrick Hand', cursive;
                    weight: lighter;
                }
                letter-spacing: 2px;
                color: #772323;
            }
        }
    }

/*----------------------------Productos----------------------------*/

.section__galeria {
    background-color: #ecd9c6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;       
        
        h2 {
            background-color: #772323;
            text-align: center;
        letter-spacing: 2px;
        font-family: 'Patrick Hand', cursive;
        color: #ecd9c6;
        }
        
        p {
            letter-spacing: 2px;
            font: {
            family: 'Patrick Hand', cursive;
            weight: lighter;
            size: 30px;
        }
        color: #772323;
        background-color: #ecd9c6;
        justify-content: center;
        width: 100%;
        margin: 40px 0px;
        border-style: double;
        }
        
        img {
            margin-top: 50px;
        }
        
        .cookies {
            background-color: #772323;
            text-align: center;
            display: flex;
            justify-content: space-around;

                img {
                    transition: transform 1s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }   
        }        
    }

.especiales__title {
    display: flex;
    letter-spacing: 2px;
    font-family: 'Patrick Hand', cursive;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #aa806f;
    color: white;
    padding: 50px;
    margin: 20px 85px;

        & a {
            text-decoration: underline;
            letter-spacing: 2px;
            font: {
                family: 'Patrick Hand', cursive;
                size: 40px;
            }
            color: white;
        }
}

/*----------------------------Ediciones Especiales----------------------------*/
.especiales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-family: 'Patrick Hand', cursive;
    background-color: #772323;
    margin: 1%;

        .especiales__txt {
            background-color: #ecd9c6;
            color: #772323;
            text-align: center;
            letter-spacing: 5px;
            font-size: x-large;
            margin: 60px 300px 50px;
            padding: 70px;
        }

        .especiales__galeria {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-row: 1fr 1fr;
            gap: 60px;
            margin: 50px;
            font-size: 30px;
            color: #ecd9c6;
            text-align: center;

                img {
                    width: 100%;
                }

                @mixin animation {
                    &:hover{
                        -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
                        box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
                        transition: all 1s;
                        background-color: #ecd9c6;
                        color: #772323;
                    }
                }

                .especial1 {
                    @include animation;
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .especial2 {
                    @include animation;
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                .especial3 {
                    @include animation;
                    grid-column: 3/4;
                    grid-row: 1/3;
                    height: 82%;
                }

                .especial4 {
                    @include animation;
                    grid-column: 2/3;
                    grid-row: 2/3;
                }

                .especial5 {
                    @include animation;
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
        }
}

/*----------------------------Contacto----------------------------*/
.contact {
    background-color: #772323;
    color: #ecd9c6;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    margin-top: 30px;

        h2 {
            padding: 40px;
        }
}

.contact__links {
    display: flex;
    align-items: center;
    background-color: #ecd9c6;
    letter-spacing: 3px;
    font: {
        family: 'Patrick Hand', cursive;
        color: #772323;
    }

        .contact__redes {
            text-align: center;

                h3 {
                    color: #772323;
                }

                a {
                    font-size: 5rem;
                    color: #772323;
                    padding: 20px;                
                }
        }

        .contact__form {
            text-align: center;
            margin: 90px;
            border: #772323 solid 1px;
            width: 80%;
            font-size: 50px;
            color: #772323;

            input {
                font-size: 20px;            
            }
        }
    }

    
    /*----------------------------Media Queries----------------------------*/

@media (min-width: 992px) and (max-width: 1440px) {
    .header {
        .navbar {
            .container-fluid {
                img {
                    width: 200px;
                }
                
                .navbar-nav {
                    a {
                        font-size: 22px;
                        letter-spacing: 1px;            
                    }
                }
            }
        }
    }

    /*----------------------------Home----------------------------*/
    .section__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section__imagenes {
            margin: 50px 0px 20px 10px;
               img {
                    width: 100%;
                }

                h2 {
                    font-size: 80px;
                }
            }
    }

    .descripcion {
        .container {
            .row {
                flex-direction: column;
            }
        }
    }

    /*----------------------------Nosotros----------------------------*/
    .body {
        grid-template-rows: 900px 1fr;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 30px;
        }
    }

    /*----------------------------Productos----------------------------*/
    .section__galeria {
        width: 100%;
        margin-bottom: 5%;
        
        .brownies-alfajores {
            p {
                height: 100px;
            }
        }

        .cookies {
            flex-direction: column;
        }

        .cakes {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }

    .especiales__title {
        width: 85%;
        text-align: center;
    }

    /*-----------------------------------Especiales-----------------------------------*/
    .especiales {
        .especiales__txt {
            width: 50%;

            h3 {
                font-size: 70px;
            }
        }

        .especiales__galeria {
            .especial3 {
                height: 65%;
            }

            .especial4 {
                height: 87%;
            }
        }
    }

    /*----------------------Contacto---------------------*/
    .contact {
        width: 100%;

        .contact__links {
            flex-direction: column;
            width: 100%;
            padding: 50px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        nav {
            .container-fluid {
                flex-direction: row;
                justify-content: flex-start;
                
                    button {
                        font-size: 6em;
                        color: #772323;
                        
                    .navbar-nav {
                        a {
                            font-size: 30px;
                            letter-spacing: 1px;                
                        }
                    }
                }
            }
        }
    }

    .main {
        h1 {
            font-size: 8em;
        }
    }

    /*----------------------Home---------------------*/
    .section__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section__imagenes {
            margin: 50px 0px 20px 5px;
            width: 90%;
               img {
                    width: 100%;
                }

                h2 {
                    font-size: 80px;
                }
            }
    }

    .descripcion {
        .container {
            .row {
                flex-direction: column;
            }
        }
    }

    /*----------------------Nosotros---------------------*/
    .body {
        grid-template-rows: 850px 1fr;

        .main__1 {
            width: 80%;
        }

        .main__2 {
            width: 80%;
        }
    }

    /*----------------------Productos---------------------*/
    .section__galeria {
        width: 100%;
        margin-bottom: 5%;

        .brownies-alfajores {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            
            p {
                height: 100px;
            }
        }

        .cookies {
            flex-direction: column;
        }

        .cakes {
            grid-template-columns: 1fr;
        }
    }

    .especiales__title {
        width: 80%;
        text-align: center;
        
        h3 {
            font-size: 40px;
        }
    }

    /*----------------------Ediciones Especiales---------------------*/
    .especiales {
        .especiales__txt {
            width: 70%;

            h3 {
                font-size: 40px;
            }

            h4 {
                font-size: 30px;
            }
        }

        .especiales__galeria {
            grid-template-columns: 1fr 1fr 2fr;
            grid-row: 1fr 1fr 1fr;
            
            .especial1 {
                grid-column: 1/3;
                grid-row: 1/2;        
            }
            .especial2 {
                grid-column: 1/3;
                grid-row: 2/3;        
            }
            .especial3 {
                grid-column: 1/5;
                grid-row: 3/4;
                height: 100%;        
            }
            .especial4 {
                grid-column: 3/5;
                grid-row: 2/3;
            }
            .especial5 {
                grid-column: 3/5;
                grid-row: 1/2;        
            }
        }
    }

    /*----------------------Contacto---------------------*/
    .contact {
        width: 100%;
    }

    .contact__links {
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .header {
        .navbar {
            .container-fluid {
                justify-content: center;
                
                img {
                    width: 250px;
                }

                button {
                    font-size: 5em;
                    color: #772323;            
                }

                a {
                    font-size: 25px;
                    letter-spacing: 0px;            
                }
            }
        }
    }

    .main {
        h1 {
            font-size: 100px;            
        }
    }
    
    /*----------------------Home---------------------*/
    .section__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section__imagenes {
            margin: 50px 0px 70px 0px;
            width: 100%;
               img {
                    width: 100%;
                }

                h2 {
                    font-size: 50px;
                }
        }

        .carousel-item img {
            width: 100%;
        }
    }

    .descripcion {
        margin: 40px 5px;

        .container {
            .row {
                flex-direction: column;

                h1 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 35px;
                }

                p {
                    font-size: 25px;
                }
            }
        }
    }

    /*----------------------Nosotros---------------------*/
    
    .body {
        grid-template-rows: 920px 1fr;

        .main__1 {
            width: 90%;
        }

        .main__2 {
            width: 90%;
        }

        h3 {
            font-size: 50px;
        }

        p {
            text-align: center;
            font-size: 25px;    
        }
    }

    /*----------------------Productos---------------------*/
    .section__galeria {
        width: 100%;
        margin-bottom: 5%;

        h2 {
            font-size: 50px;
        }

        .brownies-alfajores {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        }
        .cookies {
            flex-direction: column;
        }
        .cakes {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }

    .especiales__title {
        width: 70%;
        text-align: center;
        
        h3 {
            font-size: 40px;
        }
    }

    /*----------------------Ediciones Especiales---------------------*/
    .especiales {               
        .especiales__txt {
                width: 90%;

                h3 {
                    font-size: 40px;
                }

                h4 {
                    font-size: 35px;
                }
            }

        .especiales__galeria {
            grid-template-columns: 1fr 1fr;
            grid-row: 1fr 1fr 1fr 1fr 1fr;
        
                .especial1 {
                    grid-column: 1/3;
                    grid-row: 1/2;        
                }
                
                .especial2 {
                    grid-column: 1/3;
                    grid-row: 3/4;        
                }
                
                .especial3 {
                    grid-column: 1/3;
                    grid-row: 5/6;
                    height: 100%;        
                }
                
                .especial4 {
                    grid-column: 1/3;
                    grid-row: 2/3;
                }        
                
                .especial5 {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
            }
        }   

    /*----------------------Contacto---------------------*/
    .contact {
        width: 100%;

        h2 {
            font-size: 50px;
        }

        h3 {
            font-size: 40px;
        }
    }

    .contact__links {
        width: 100%;
        padding: 50px;
        flex-direction: column;

            .contact__form {
                width: 100%;
            }
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .header {
        .navbar {
            .container-fluid {
                justify-content: center;
                
                img {
                    width: 250px;
                }

                button {
                    font-size: 5em;
                    color: #772323;            
                }

                a {
                    font-size: 25px;
                    letter-spacing: 0px;            
                }
            }
        }
    }

    .main {
        width: 100%;

        h1 {
            font-size: 3.5em;
        }
    }

    /*----------------------Home---------------------*/
    .section__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        
        .section__imagenes {
            margin: 50px 0px 70px 0px;
            width: 100%;
               img {
                    width: 100%;
                }

                h2 {
                    font-size: 40px;
                    width: 100%;
                }
        }

        #carouselExampleCaptions img {
            width: 87%;
        }
    }



    .descripcion {
        margin: 40px 5px;

        .container {
            .row {
                flex-direction: column;

                h1 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 35px;
                    margin-top: 30px;
                }

                p {
                    font-size: 25px;
                }
            }
        }
    }

    .contacto {
        h3 {
            font-size: 40px;
        }
    }

    /*----------------------Nosotros---------------------*/
    .body {
        grid-template-rows: 1000px 1fr;

        .main__1 {
            width: 100%;

            img {
                width: 90%;
            }

            h3 {
                font-size: 2.5em;
            }
    
            p {
                text-align: center;
                font-size: 1.8em;    
            }
        }

        .main__2 {
            width: 100%;
            
            img {
                width: 90%;
            }

            h3 {
                font-size: 2.5em;
            }
    
            p {
                text-align: center;
                font-size: 1.8em;    
            }
        }
    }

    /*----------------------Productos---------------------*/
    .section__galeria {
        width: 100%;
        margin-bottom: 5%;

        h2 {
            font-size: 40px;
            margin-top: 15px;
        }

        .brownies-alfajores {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        }
        .cookies {
            flex-direction: column;

            img {
                width: 90%;
            }
        }
        .cakes {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

            img {
                width: 90%;
            }
        }
    }

    .especiales__title {
        text-align: center;
        width: 100%;
        margin: 10px 0px;

        h3 {
            font-size: 40px;
        }
    }

    /*----------------------Ediciones Especiales---------------------*/
    .especiales {               
        .especiales__txt {
                width: 90%;

                h3 {
                    font-size: 30px;
                }

                h4 {
                    font-size: 25px;
                }
            }

        .especiales__galeria {
            grid-template-columns: 1fr 1fr;
            grid-row: 1fr 1fr 1fr 1fr 1fr;
        
                .especial1 {
                    grid-column: 1/3;
                    grid-row: 1/2;        
                }
                
                .especial2 {
                    grid-column: 1/3;
                    grid-row: 3/4;        
                }
                
                .especial3 {
                    grid-column: 1/3;
                    grid-row: 5/6;
                    height: 100%;        
                }
                
                .especial4 {
                    grid-column: 1/3;
                    grid-row: 2/3;
                }        
                
                .especial5 {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
            }
        }   

    /*----------------------Contacto---------------------*/
    .contact {
        width: 100%;

        h2 {
            font-size: 50px;
        }
    }

    .contact__links {
        width: 100%;
        padding: 50px;
        flex-direction: column;

            h3 {
                font-size: 40px;
            }

            .contact__form {
                width: 100%;
                font-size: 30px;
            }
    }
}

