@charset "UTF-8";
header nav .container-fluid {
  background-color: #fff;
  text-decoration: none;
  list-style: none;
  color: #772323;
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
  letter-spacing: 5px;
}

header nav .collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .navbar-nav a {
  color: #772323;
  margin: 0px 30px;
  font-size: 25px;
}

/*----------------------------Contacto Pie de Página----------------------------*/
.contacto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3f3f3f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.contacto2 a {
  color: #ecd9c6;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 5px;
}

.footer {
  font-family: 'Patrick Hand', cursive;
  font-style: italic;
  color: gray;
}

/*----------------------------Home----------------------------*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(../fondo-website1.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.main h1 {
  color: white;
  letter-spacing: 10px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
  font-size: 140px;
}

.section__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #772323;
  margin-top: 30px;
}

.section__main .section__imagenes {
  padding: 73px 130px;
}

.section__main .section__imagenes img {
  width: 90%;
}

.section__main .section__imagenes h2 {
  width: 100%;
  color: #f5f5f5;
  font-size: 82px;
  font-style: italic;
  font-weight: bolder;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 2px;
  text-align: center;
}

.section__main .carousel-inner {
  width: 515px;
}

.descripcion {
  background-color: #aa806f;
  margin: 40px 35px;
}

.descripcion:hover {
  background-color: #772323;
  -webkit-transition: background-color 1s linear;
  -webkit-transition: background-color 1.5s linear;
  transition: background-color 1.5s linear;
}

.descripcion h1 {
  font-size: 100px;
  font-weight: 1000;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  letter-spacing: 10px;
  color: #fdd086;
  margin: 2%;
}

.descripcion h3 {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  letter-spacing: 5px;
  color: #ffe6e6;
}

.descripcion p {
  font-size: 35px;
  font-weight: 400;
  font-family: 'Patrick Hand', cursive;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffe6e6;
  text-indent: 40px;
  margin: 0% 5% 5%;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3f3f3f;
  color: #ecd9c6;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
}

.contacto .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacto ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.contacto ul li a {
  font-size: 3rem;
  text-decoration: none;
  color: #ecd9c6;
}

/*----------------------------Nosotros----------------------------*/
.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 750px 1fr;
      grid-template-rows: 750px 1fr;
  justify-items: center;
  padding: 3%;
  margin: 2%;
  background-color: #f7f1e9;
  gap: 20px;
}

.body .main__1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #772323;
  text-align: center;
  width: 60%;
  padding: 40px;
}

.body .main__1 h2 {
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #ecd9c6;
}

.body .main__1 p {
  font-size: 30px;
  text-indent: 30px;
  text-align: justify;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #ecd9c6;
}

.body .main__2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  width: 60%;
  background-color: #caada1;
  padding: 40px;
}

.body .main__2 h2 {
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #772323;
}

.body .main__2 p {
  text-indent: 30px;
  text-align: justify;
  font-size: 30px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #772323;
}

/*----------------------------Productos----------------------------*/
.section__galeria {
  background-color: #ecd9c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.section__galeria h2 {
  background-color: #772323;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
  font-size: 50px;
  color: #ecd9c6;
}

.section__galeria p {
  letter-spacing: 2px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  font-size: 30px;
  color: #772323;
  background-color: #ecd9c6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 40px 0px;
  border-style: double;
}

.section__galeria img {
  margin-top: 50px;
}

.section__galeria .brownies-alfajores {
  background-color: #772323;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.section__galeria .brownies-alfajores img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section__galeria .brownies-alfajores img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section__galeria .cookies {
  background-color: #772323;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__galeria .cookies img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section__galeria .cookies img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section__galeria .cakes {
  background-color: #772323;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.section__galeria .cakes img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section__galeria .cakes img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.especiales__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #aa806f;
  color: white;
  padding: 50px;
  margin: 20px 85px;
}

.especiales__title a {
  text-decoration: underline;
  letter-spacing: 2px;
  font-family: 'Patrick Hand', cursive;
  font-size: 40px;
  color: white;
}

/*----------------------------Ediciones Especiales----------------------------*/
.especiales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  font-size: x-large;
  background-color: #772323;
  margin: 1%;
}

.especiales .especiales__txt {
  background-color: #ecd9c6;
  color: #772323;
  text-align: center;
  letter-spacing: 5px;
  font-size: x-large;
  margin: 60px 300px 50px;
  padding: 70px;
}

.especiales .especiales__galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  grid-row: 1fr 1fr;
  gap: 60px;
  margin: 50px;
  font-size: 30px;
  color: #ecd9c6;
  text-align: center;
}

.especiales .especiales__galeria img {
  width: 100%;
}

.especiales .especiales__galeria .especial1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.especiales .especiales__galeria .especial1:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ecd9c6;
  color: #772323;
}

.especiales .especiales__galeria .especial2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.especiales .especiales__galeria .especial2:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ecd9c6;
  color: #772323;
}

.especiales .especiales__galeria .especial3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 82%;
}

.especiales .especiales__galeria .especial3:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ecd9c6;
  color: #772323;
}

.especiales .especiales__galeria .especial4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.especiales .especiales__galeria .especial4:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ecd9c6;
  color: #772323;
}

.especiales .especiales__galeria .especial5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.especiales .especiales__galeria .especial5:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ecd9c6;
  color: #772323;
}

/*----------------------------Contacto----------------------------*/
.contact {
  background-color: #772323;
  color: #ecd9c6;
  text-align: center;
  font-size: x-large;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 30px;
}

.contact h2 {
  padding: 40px;
  font-size: 40px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecd9c6;
  letter-spacing: 3px;
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
  font-size: 40px;
  color: #772323;
}

.contact__links .contact__whatsapp {
  text-align: center;
}

.contact__links .contact__whatsapp h3 {
  font-size: 50px;
}

.contact__links .contact__whatsapp a {
  font-size: 5rem;
  color: #772323;
}

.contact__links .contact__form {
  text-align: center;
  margin: 90px;
  border: #772323 solid 1px;
  width: 80%;
}

.contact__links .contact__form input {
  font-size: 20px;
}

/*----------------------------Media Queries----------------------------*/
@media (min-width: 992px) and (max-width: 1440px) {
  .header .navbar .container-fluid img {
    width: 200px;
  }
  .header .navbar .container-fluid .navbar-nav a {
    font-size: 22px;
    letter-spacing: 1px;
  }
  /*----------------------------Home----------------------------*/
  .section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__main .section__imagenes img {
    width: 100%;
  }
  .descripcion .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*----------------------------Nosotros----------------------------*/
  .body {
    -ms-grid-rows: 900px 1fr;
        grid-template-rows: 900px 1fr;
  }
  .body h2 {
    font-size: 40px;
  }
  .body p {
    font-size: 30px;
  }
  /*----------------------------Productos----------------------------*/
  .section__galeria {
    width: 100%;
    margin-bottom: 5%;
  }
  .section__galeria .brownies-alfajores p {
    height: 100px;
  }
  .section__galeria .cookies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__galeria .cakes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .especiales__title {
    width: 85%;
  }
  /*-----------------------------------Especiales-----------------------------------*/
  .especiales .especiales__txt {
    width: 50%;
  }
  .especiales .especiales__galeria .especial3 {
    height: 65%;
  }
  .especiales .especiales__galeria .especial4 {
    height: 87%;
  }
  /*----------------------Contacto---------------------*/
  .contact {
    width: 100%;
  }
  .contact .contact__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header nav .container-fluid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header nav .container-fluid button {
    font-size: 6em;
    color: #772323;
  }
  .header nav .container-fluid button .navbar-nav a {
    font-size: 30px;
    letter-spacing: 1px;
  }
  /*----------------------Home---------------------*/
  .section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__main .section__imagenes img {
    width: 100%;
  }
  .descripcion .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*----------------------Nosotros---------------------*/
  .body {
    -ms-grid-rows: 850px 1fr;
        grid-template-rows: 850px 1fr;
  }
  .body .main__1 {
    width: 80%;
  }
  .body .main__2 {
    width: 80%;
  }
  /*----------------------Productos---------------------*/
  .section__galeria {
    width: 100%;
    margin-bottom: 5%;
  }
  .section__galeria .brownies-alfajores {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .section__galeria .brownies-alfajores p {
    height: 100px;
  }
  .section__galeria .cookies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__galeria .cakes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .especiales__title {
    width: 80%;
  }
  /*----------------------Ediciones Especiales---------------------*/
  .especiales .especiales__txt {
    width: 50%;
  }
  .especiales .especiales__galeria {
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
    grid-row: 1fr 1fr 1fr;
  }
  .especiales .especiales__galeria .especial1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .especiales .especiales__galeria .especial2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .especiales .especiales__galeria .especial3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 100%;
  }
  .especiales .especiales__galeria .especial4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .especiales .especiales__galeria .especial5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  /*----------------------Contacto---------------------*/
  .contact {
    width: 100%;
  }
  .contact__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .header .navbar .container-fluid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar .container-fluid img {
    width: 250px;
  }
  .header .navbar .container-fluid button {
    font-size: 5em;
    color: #772323;
  }
  .header .navbar .container-fluid a {
    font-size: 25px;
    letter-spacing: 0px;
  }
  .main h1 {
    font-size: 100px;
  }
  /*----------------------Home---------------------*/
  .section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__main .section__imagenes {
    padding: 10px;
  }
  .section__main .section__imagenes img {
    width: 100%;
  }
  .section__main .section__imagenes h2 {
    font-size: 50px;
  }
  .section__main .carousel-item img {
    width: 100%;
  }
  .descripcion {
    margin: 40px 5px;
  }
  .descripcion .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descripcion .container .row h1 {
    font-size: 50px;
  }
  .descripcion .container .row h3 {
    font-size: 35px;
  }
  .descripcion .container .row p {
    font-size: 25px;
  }
  /*----------------------Nosotros---------------------*/
  .body {
    -ms-grid-rows: 920px 1fr;
        grid-template-rows: 920px 1fr;
  }
  .body .main__1 {
    width: 90%;
  }
  .body .main__2 {
    width: 90%;
  }
  .body h2 {
    font-size: 35px;
  }
  .body p {
    text-align: center;
    font-size: 25px;
  }
  /*----------------------Productos---------------------*/
  .section__galeria {
    width: 100%;
    margin-bottom: 5%;
  }
  .section__galeria .brownies-alfajores {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .section__galeria .cookies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__galeria .cakes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .especiales__title {
    width: 70%;
    text-align: center;
  }
  /*----------------------Ediciones Especiales---------------------*/
  .especiales .especiales__txt {
    width: 90%;
  }
  .especiales .especiales__galeria {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
  }
  .especiales .especiales__galeria .especial1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .especiales .especiales__galeria .especial2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .especiales .especiales__galeria .especial3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    height: 100%;
  }
  .especiales .especiales__galeria .especial4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .especiales .especiales__galeria .especial5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  /*----------------------Contacto---------------------*/
  .contact {
    width: 100%;
  }
  .contact__links {
    width: 100%;
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__links .contact__form {
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .header .navbar .container-fluid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar .container-fluid img {
    width: 250px;
  }
  .header .navbar .container-fluid button {
    font-size: 5em;
    color: #772323;
  }
  .header .navbar .container-fluid a {
    font-size: 25px;
    letter-spacing: 0px;
  }
  .main {
    width: 100%;
  }
  .main h1 {
    font-size: 60px;
  }
  /*----------------------Home---------------------*/
  .section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .section__main #carouselExampleCaptions img {
    width: 87%;
  }
  .descripcion {
    margin: 40px 5px;
  }
  .descripcion .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descripcion .container .row h1 {
    font-size: 50px;
  }
  .descripcion .container .row h3 {
    font-size: 35px;
    margin-top: 30px;
  }
  .descripcion .container .row p {
    font-size: 25px;
  }
  /*----------------------Nosotros---------------------*/
  .body {
    -ms-grid-rows: 1000px 1fr;
        grid-template-rows: 1000px 1fr;
  }
  .body .main__1 {
    width: 100%;
  }
  .body .main__1 img {
    width: 90%;
  }
  .body .main__1 h2 {
    font-size: 2.5em;
  }
  .body .main__1 p {
    text-align: center;
    font-size: 1.8em;
  }
  .body .main__2 {
    width: 100%;
  }
  .body .main__2 img {
    width: 90%;
  }
  .body .main__2 h2 {
    font-size: 2.5em;
  }
  .body .main__2 p {
    text-align: center;
    font-size: 1.8em;
  }
  /*----------------------Productos---------------------*/
  .section__galeria {
    width: 100%;
    margin-bottom: 5%;
  }
  .section__galeria .brownies-alfajores {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .section__galeria .cookies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__galeria .cookies img {
    width: 90%;
  }
  .section__galeria .cakes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .section__galeria .cakes img {
    width: 90%;
  }
  .especiales__title {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
  }
  /*----------------------Ediciones Especiales---------------------*/
  .especiales .especiales__txt {
    width: 90%;
  }
  .especiales .especiales__txt h2 {
    font-weight: 900;
    font-size: 30px;
  }
  .especiales .especiales__galeria {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
  }
  .especiales .especiales__galeria .especial1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .especiales .especiales__galeria .especial2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .especiales .especiales__galeria .especial3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    height: 100%;
  }
  .especiales .especiales__galeria .especial4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .especiales .especiales__galeria .especial5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  /*----------------------Contacto---------------------*/
  .contact {
    width: 100%;
  }
  .contact__links {
    width: 100%;
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__links .contact__form {
    width: 100%;
  }
}
