* {
    padding: 0;
    margin: 0;
}

.navbar {
    justify-content: end;
    font-size: 1.6rem;
    color: #772323; 
    letter-spacing: 10px;
    font-weight: bolder;
    font-family: 'Patrick Hand', cursive;
    margin: 0px 200px;
    background-color: #fff;
}

.container-fluid {
    background-color: #fff;
    text-decoration: none;
    list-style: none;
    color: #772323;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    font-weight: bolder;
}

.collapse {
    justify-content: center;
}

.collapse .navbar-collapse {
    flex-grow: initial;
}

.navbar-nav a {
    color: #772323;
    margin: 0px 30px;
    font-size: 25px;
    
}




/*--------------------------------Estilo Home---------------------------------------*/

/*imagen de sabores unicos y sliders una al lado de la otra*/
.section__main {
    display: flex;
    width: 100%;
    margin-left: 8%;
}

.section__imagenes {
    background-color: #772323;
    padding: 60px 60px;
    width: 55%;
    background-color: #772323;
    justify-items: center;
}

.section__imagenes img {
    margin-left: 7%;
}

.section__imagenes h2{
    width: 100%;
    color: #f5f5f5;
    font-size: 82px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    margin-left: 25%;
}

/*descripción del proyecto*/
.descripcion {
    background-color: #aa806f;
    margin: 40px 35px;
}

.descripcion:hover {
    background-color: #772323;
    -webkit-transition: background-color 1s linear;
    transition: background-color 1.5s linear;
}

.descripcion h1 {
    font-size: 100px;
    font-weight: 1000;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 10px;
    color: #fdd086;
    margin: 2%;
}

.descripcion h3 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    color: #ffe6e6;
}

.descripcion p {
    font-size: 35px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
    color: #ffe6e6;
    text-indent: 40px;
    margin: 0% 5% 5%;
}

/*contacto + mapa de index.html + footer */
.contacto {
    display: flex;
    justify-content: space-around;
    background-color: #3f3f3f;
    color: #ecd9c6;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    letter-spacing: 5px;
    width: 80%;
    font-size: 30px;
    margin-left: 10%;
}

.contacto ul {
    list-style: none;
    align-items: center;
    padding: 20px;
}

.contacto a {
    text-decoration: none;
    color: #ecd9c6;
   
}

.footer {
    font-family: 'Patrick Hand', cursive;
    color: gray;
    font-style: italic;
}

/*-------------------Contacto pie de página del resto de las páginas---------------------------*/
.contacto2 {
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f;
    width: 90%;
    align-items: center;    
    justify-content: space-evenly;
    height: 100%;
    margin-left: 5%;
    text-align: center;
}

.contacto2 a {
    color: #ecd9c6;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    text-align: center;
    width: 80%;
}

/*-------------------------Estilo Nosotros----------------------------*/

.producto__brownies {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: x-large;
    color: #ecd9c6;
} 

.producto__cookies{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: x-large;
    color: #ecd9c6;
    background-color: #772323;  
} 

.producto__cakes{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: x-large;
    color: #ecd9c6;    
    background-color: #772323;
} 

.brownies {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.brownies img:hover {
    height: 800px;
    width: 400px;
    transition: all 2s;
}

.brownies p {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: x-large;
    color: #ecd9c6;
}

.cookies {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.cookies img:hover {
    height: 400px;
    width: 600px;
    transition: all 2s;
}

.cookies p {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: x-large;
    color: #ecd9c6;
}

.cakes {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cakes img:hover {
    height: 500px;
    width: 600px;
    transition: all 1s;
}

.cakes p {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: x-large;
    color: #ecd9c6;
}

/*comienza grid de galería*/
.section__galeria {
    background-color: #ecd9c6;
    display: grid;
    grid-template-columns: repeat (2, 100px);
    grid-row: repeat (7, 100px);
    gap: 10px;
}

.especiales__title {
    display: flex;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-size: x-large;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #aa806f;
    color: white;
    padding: 50px;
    margin: 20px 85px;
}

.especiales__title a{
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-size: x-large;
    color: white;
}

/*Estilo Nosotros*/
.container__nosotros {
    display: grid;
    grid-template-columns: 950px 950px;
    grid-row: 450px 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
    max-width: 1900px;
}

.main {
    display: flex;
    justify-content: center;
    background-image: url(../Fondo\ website1.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
    height: 500px;
    width: 100%;
}

.main h1 {
    color: white;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 140px;
    margin-top: 125px;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 2%;
    background-color: #f7f1e9;
    align-items: center;
}

.main__1 {
    color: #ecd9c6;
    background-color: #772323;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    height: 550px;
    width: 75%;
}

.main__1 img {
    margin: 50px 0px -50px 150px;
}

.main__1 h2 {
    margin: -340px 0px 0px 630px;
    font-size: 60px;
}

.main__1 p{
    position: relative;
    text-indent: 30px;
    text-align: justify;
    width: 60%;
    margin-left: 475px;
    font-size: 30px;
}


.main__2 {
    color: #772323;
    background-color: #ecd9c6;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 50px;
    height: 700px;
    width: 87%;

}

.main__2 img {    
    margin-left: 70%;
    margin-top: 5%;
}

.main__2 h2 {
    margin: -460px 0px 0px 300px;
    font-size: 60px;
}

.main__2 p {
    width: 53%;
    margin-left: 100px;
    font-size: 30px;
    text-align: justify;
    text-indent: 30px;
}

/*-------------------------------Estilo Productos----------------------------*/
.section__galeria {
    background-color: #ecd9c6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section__galeria h1 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 80px;
    color: #772323;
}

.section__galeria h2 {
    background-color: #772323;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 50px;
    color: #ecd9c6;
}

.section__galeria p {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 30px;
    color: #ecd9c6;
    margin: 30px;
}

.brownies {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-around;
}



.cookies {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-around;
}



.cakes {
    background-color: #772323;
    text-align: center;
    display: flex;
    justify-content: space-evenly   ;
    flex-wrap: wrap;
    gap: 102px;
}



.especiales__title {
    display: flex;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #aa806f;
    color: white;
    padding: 50px;
    margin: 20px 85px;
}

.especiales__title a{
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

/*------------------Estilo Especiales-----------------*/

.especiales {
    display: flex;
    flex-direction: column;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: x-large;
    background-color: #772323;
    margin: 1%;
}

.especiales__img {
    background-image: url(../Fondo\ website.jpg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 400px;
    color: #f5f5f5;
    text-align: center;
    padding: 50px;
    font-size: 65px;
    letter-spacing: 50px;
    font-weight: bolder;
}

.especiales__imgtxt {
    margin-top: 115px;
}

.especiales__txt {
    background-color: #ecd9c6;
    color: #772323;
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    margin: 60px 300px 50px;
    padding: 70px;
}

.especiales__galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-row: 1fr 1fr;
    gap: 60px;
    margin: 25px 70px 50px;
    font-size: 30px;
    color: #ecd9c6;
    text-align: center;
}

.especiales__galeria img {
    width: 100%;
}

.especial1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.especial3 {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 82%;
}

.especial2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.especial4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.especial5 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.especial1:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transition: all 2s;
    background-color: #ecd9c6;
    color: #772323;
}

.especial2:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transition: all 2s;
    background-color: #ecd9c6;
    color: #772323;
}

.especial3:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transition: all 2s;
    background-color: #ecd9c6;
    color: #772323;
}

.especial4:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transition: all 2s;
    background-color: #ecd9c6;
    color: #772323;
}

.especial5:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transition: all 2s;
    background-color: #ecd9c6;
    color: #772323;
}


/*------------------------------------Contacto-----------------------------------------*/
.contact {
    background-color: #772323;
    color: #ecd9c6;
    text-align: center;
    font-size: x-large;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
}

.contact h1 {
    padding: 20px;
    font-size: 50px;
}

.contact h2 {
    padding: 40px;
    font-size: 40px;
}

.contact__links {
    display: flex;
    background-color: #ecd9c6;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 3px;
    font-weight: lighter;
    color: #772323;
    font-size: 40px ;
}

.contact__whatsapp {
    text-align: center;
    margin: 200px 90px;
}

.contact__whatsapp h3 {
    font-size: 50px;
}

.contact__form {
    text-align: center;
    margin: 90px;
    border: #772323 solid 1px;
    width: 50%;
}

.input {
    font-size: 10px;
    margin: 25px;
    font-size: 20px;
}



/*Media Queries*/
@media (min-width: 1440PX) and (max-width: 1900px) {
    
    .header {
        width: 100%;
        margin-left: -8%;
        text-align: center;
    }
    

    /*-----------------Home------------------*/
    
    
    .section__imagenes img {
        margin-left: 0%;
        width: 100%;
    }

    .section__imagenes h2 {
        width: 70%;
        font-size: 80px;
        margin-left: 25%;
    }

       
    /*-----------------Nosotros------------------*/

    .main__1 h2 {
        margin: -370px 0px 0px 575px;
        font-size: 40px;
    }

    .main__1 p {
        width: 40%;
        font-size: 30px;
    }

    .main__2 h2 {
        font-size: 40px;
    }

    .main__2 p {
        width: 60%;
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
          
    /*-----------------------------------Home------------------------------*/
    .section__main {
        flex-direction: column;
        margin: 0%;
    }

    .section__imagenes {
        width: 92%;
    }

    .section__imagenes img {
        width: 92%;
    }

    .section__imagenes h2 {
        font-size: 70px;
        width: 80%;
        margin: 0% 20%;
    }

    #carouselExampleCaptions {
        margin: 1% 17%;
    } 

    .descripcion {
        width: 85%;
    }

    .contacto {
        margin-left: 7%;
    }

    /*------------------------Nosotros-----------------------*/

    .main {
        width: 100%;
    }

    .main h1 {
        font-size: 84px;
    }

    .body {
        width: 100%;
    }

    .main__1 {
        height: 50%;
    }

    .main__1 h2 {
        font-size: 50px;
        margin: 10% 30% 2%;
        width: 50%;
    }

    .main__1 p {
        width: 84%;
        margin: 0% 7% 4%;
    }

    .main__2 {
        width: 100%;
        height: 100%;
    }

    .main__2 img {
        margin: 7% 30% 0%;
    }

    .main__2 h2 {
        font-size: 50px;
        margin: 0% 30% 2%;
        width: 50%;
    }

    .main__2 p {
        width: 90%;
        margin: 2% 5%;
    }

    .contacto2 {
        width: 80%;
        margin: 2% 8%;
    }

    /*----------------------Productos---------------------*/

    .section__galeria {
        width: 100%;
        margin-bottom: 5%;
    }

    .brownies {
        flex-direction: column;
    }
    
    .cookies {
        flex-direction: column;
    }

    .cakes {
        flex-direction: column;
        gap: 10px;
    }

    .especiales__title {
        width: 85%;
    }

    /*----------------------Especiales---------------------*/

    .especiales {
        width: 90%;
    }

    .especiales__img {
        width: 100%;
        height: 50%;
    }

    .especiales h1 {
        font-size: 50px;
        width: 100%;
        letter-spacing: 20px;
    }

    .especiales__txt {
        width: 50%;
        margin-left: 25%;
    }

    .especiales__galeria {
        grid-template-columns: 1fr 1fr 2fr;
        grid-row: 1fr 1fr 1fr;
    }
    .especial1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .especial2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .especial3 {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .especial4 {
        grid-column: 3/5;
        grid-row: 2/3;
    }
    .especial5 {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    /*----------------------Contacto---------------------*/
    
    .contact {
        width: 100%;
    }

    .contact__links {
        flex-direction: column;
        width: 100%;
    }

    .contact__form {
        margin-left: 26%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .header {
        margin-left: -34%;
    }
    
  
    /*----------------------Home--------------------*/

    .section__main {
        flex-direction: column;
        margin-left: 0%;
    }

    .section__imagenes {
        width: 100%;
    }

    .section__imagenes img {
        width: 100%;
    }

    .section__imagenes h2 {
        font-size: 57px;
        width: 80%;
    }

    .descripcion {
        margin-left: 0%;
        margin-right: 0%;
    }

    .descripcion h1 {
        width: 100%;
        font-size: 60px;
    }

    .descripcion h3 {
        width: 100%;
        font-size: 40px;
    }

    .descripcion p {
        width: 90%;
        font-size: 20px;
    }

    .footer {
        width: 75%;
    }

    /*---------------------Nosotros------------------*/

    .main {
        width: 100%;
    }

    .main h1 {
        text-align: center;
        font-size: 115px;
        margin-top: 5%;
    }

    .body {
        width: 96%;
    }

    .main__1 {
        height: 50%;
        width: 100%;
    }

    .main__1 img {
        margin: 50px 0px -50px 45px;
    }

    .main__1 h2 {
        font-size: 44px;
        margin: 15% 27% 2%;
        width: 56%;
    }

    .main__1 p {
        width: 95%;
        margin: 0% 2% 4%;
    }

    .main__2 {
        width: 100%;
        height: 100%;
    }

    .main__2 img {
        margin: 7% 11% 0%;
    }

    .main__2 h2 {
        font-size: 44px;
        margin: 0% 13% 2%;
        width: 75%;
    }

    .main__2 p {
        width: 94%;
        margin: 0% 2% 4%;
    }

     /*---------------------Productos------------------*/

     .section__galeria {
        width: 100%;
        margin-bottom: 5%;
    }

    .brownies {
        flex-direction: column;
    }
    
    .cookies {
        flex-direction: column;
    }

    .cakes {
        flex-direction: column;
        gap: 10px;
    }

    .especiales__title {
        width: 54%;
        font-size: 25px;
        text-align: center;
    }

    /*---------------------Especiales------------------*/

    .especiales {
        width: 100%;
    }

    .especiales__img {
        width: 90%;
        height: 50%;
        margin-left: 5%;
    }

    .especiales h1 {
        font-size: 45px;
        width: 100%;
        letter-spacing: 10px;
        margin-left: -7%;
    }

    .especiales__txt {
        width: 92%;
        font-size: 20px;
        margin-left: 4%;
    }

    .especiales__galeria {
        grid-template-columns: 1fr 1fr 2fr;
        grid-row: 1fr 1fr 1fr;
    }
    .especial1 {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .especial2 {
        grid-column: 1/5;
        grid-row: 5/6;
    }

    .especial3 {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .especial4 {
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .especial5 {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    /*----------------------Contacto---------------------*/
    
    .contact {
        width: 100%;
    }

    .contact__links {
        flex-direction: column;
        width: 100%;
    }

    .contact__form {
        width: 59%;
    }
}